body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}
header {
    background-color:lightcoral;
    height:100px;
    width: 100%;
    margin: 0px;
    padding-top: 1px;
    text-align: center;
    line-height:100px; /*pone a la misma altura que de la caja /contenedor */
    color: white;
    border-bottom: 1px dashed black;
}
.navbar{
    background-color:azure;
    border: 1px solid black;
    height:50px;

    
}
.navbar ul li {

    list-style: none;
    float: left;
    margin: 10px;    
    line-height: 5px;
    text-align:center;
    
}
.clearfix{ clear:both; }

/*Estilos a la section*/
#content {
    float: left;
    width:100%;
    background-color:rgb(136, 79, 10)
}
/*
La funcion cal(), lo que hace es restar, los padding de la derecha e izquierda(10 derch, 10 izq), por eso son 20    
aside {
    float: left;
    width:cal(20%-20px);
    padding:10px:
    background-color:rgb(44, 21, 99)
}
*/

/*style form*/
.form-style{
    background-color:beige;
    height:420px;
    margin: 0px auto;
}
.form-style fieldset{
    height:100px;
    font-size:15px;
    
} 
.form-style label{
    padding: 1px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.form-style input{
    margin-bottom: 1px;
    display:auto;
    margin-left: 5px;
}   
/*Estilos de la segundo practica 2*/
.style-second{
    display: flex;
    flex-direction: column;
  
}
.style-second ul {
    padding: 0;
    width: 100%;
   
}
.style-second ul li {
    display: inline-block;
    list-style: none;
    background-color:whitesmoke;
    border: 1px solid black;

}
.style-second ul li a{
   
        outline: none;
        text-decoration: none;
        width: 19.5%;
        margin-right: 0.625%;
        text-align: center;
        line-height: 3;
        color: black;
        padding:1px 1px 1px 6px;
}


/*Fin de la segunda practica 2*/
/*Dando*/

footer{
    background-color:lightsalmon;
    height:100px;
    margin: 0px auto;
    padding-top: 1px;

}
footer ul li{
    list-style: none;
    float: left;
    margin:10px;
}