/*Vamos a utlizar los pseudoelementos en CSS para ello vamos hacer una pagina con ejemplos.
Esta página, tendra su HTML y su CSS*/

/*1- first-letter da estilo o modifca el primera letra de un elemento*/
p::first-letter{
    color: red;
}
/*2- first-line da estilo a la primera linea del parrafo */
p::first-line{
    color:rgb(12, 128, 60);
}
/*Pone un elemento antes de una etiqueta*/
p::before{
    content: ");";
}
/*Pone un elemento después de cada etiqueta*/
p::after{
    content: "x-x";
}

/*Resalta los elementos seleccionados de un párrafo*/
p::selection{
    color:gray;
    background:orangered;
}

a:link, a:visited{
    text-decoration:none;
}
/*
p{
    text-transform:capitalize;
}
*/
div.container{ padding : 25px 25px 10px 10px;
border:1px solid,red; 
}
p{
    background-color: azure;
}
:root{
    --my-color:yellow;
}

h1, h4{
  --my-color:red;
}

body{
    color:var(--my-color);
}





