table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;  
  }  
  td, th {
    border: 1px solid #ebdddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    }
  
  tr:nth-child(even){
    background-color: lightblue;
  }

  tr:nth-child(odd) {
    background-color:blue;    
  }

.tabla-negrita td{   
    font-weight: bold;  
    background-color:orange;  
  }
  /*Ejemplos de pseudoClases en Css*/
  a:link{
    color:red;
}
a:visited{
    color:yellow;

}
/*
Seleccion del primer hijo del elemento
p:first-child{
  font-weight: bold;
  font-size:larger;
}
li:first-child{
  text-transform: uppercase;
  font-size: larger;
}
*/
/*Seleccion del ultimo hijo del elemento

*/
p:last-child{
  font-weight: bold;
}
li:last-child{
  text-transform: uppercase;
}
p:first-of-type{
  text-transform: uppercase;
}
